:root {
    --nav-height: 90px;
    --nav-height-mobile: 110px;

    --colour-header: #FFF;
    --colour-header-background: #0072C6;
    --colour: #444;
    --colour-background: white;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#app {
    position: relative;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--colour);
    background-color: var(--colour-background);

    #nav {
        position: relative;
        height: var(--nav-height);
        width: 100%;

        #nav1 {
            position: relative;
            width: 100%;
            height: 50%;

            .nav1-inner {
                margin-left: 16px;
                width: 100%;
                max-width: 500px;
            }

            div {
                display: inline-block;
            }

            .title {
                font-size: 22px;
                line-height: 45px;
                vertical-align: middle;
                font-weight: normal;
                color: #3f6aaf;
            }

            .button {
                float: right;
                margin: 4px 4px;
            }
        }

        #nav2 {
            position: relative;
            width: 100%;
            height: 50%;

        }

        .search-wrapper {
            width: 70%;
            height: 100%;
            margin-left: 8px;
        }
    }

    #main {
        position: absolute;
        bottom: 0;
        top: var(--nav-height);
        left: 0;
        right: 0;
    }

    .columns {
        height: 100%;
        width: 100%;
        display: flex;

        .column {
            flex-grow: 1;
        }
    }

    .columns.map-columns {
        height: 100%;

        .column {
            height: 100%;
            width: 100%;
        }
    }

    .scale-text {
        z-index: 1000;
        position: absolute;
        bottom: 25px;
        left: 10px;
        font-weight: bold;
        color: #6e6e6e;
        background-color: #fff;
        padding-left: 4px;
        padding-right: 4px;

        .scales-equal {
            color: green;
        }
    }

    .map-wrapper {
        /* wrapper does not like absolute for some reason */
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

    }

    .esri-map {
        width: 100%;
        height: 100%;
    }

    .map-icon {
        position: absolute;
        z-index: 1000;
        padding-top: 6px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 4px;
        cursor: pointer;
    }

    /* tablet breakpoint used by bulma */
    @media screen and (max-width: 768px) {
        #nav {
            height: var(--nav-height-mobile);

            #nav1 {
                height: 10%;
                visibility: hidden;
            }

            #nav2 {
                height: 90%;
            }

        }

        #main {
            top: var(--nav-height-mobile);
        }

        .columns {
            flex-direction: column;
        }

        .columns.map-columns .column {
            height: 50%;
        }

    }
}